@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');
@import "tailwindcss";

/* setup color */
@theme {
  --color-primary-900: #184490;
  --color-primary-700: #1360e2;
  --color-primary-600: #1d79f6;
  --color-primary-500: #3197ff;
  --color-primary-200: #bce2ff;
  --color-primary-100: #d9eeff;
  --color-primary-50: #eef8ff;

  --color-neutral-1: #24242a;
  --color-neutral-2: #393a41;
  --color-neutral-3: #5a5c68;
  --color-neutral-4: #91949f;
  --color-neutral-5: #eeeef0;
}

/* font */
@theme {
  --font-geist: "Geist", sans-serif;
  --font-firacode: "Fira Code", monospace;
}
body {
  font-family: var(--font-geist);
}

/* container */
@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; 
    padding-right: 1rem;
  }

  @media (min-width: 600px) {
    .container {
      max-width: 600px;
      padding-left: 0.75rem; 
      padding-right: 0.75rem;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 1rem; 
      padding-right: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding-left: 1.5rem; 
      padding-right: 1.5rem;
    }
  }

  @media (min-width: 1240px) {
    .container {
      max-width: 1240px;
      padding-left: 2rem; 
      padding-right: 2rem;
    }
  }

  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding-left: 2rem; 
      padding-right: 2rem;
    }
  }
}
